<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    @*RenderSection is way of allowing statements/code/tags to be placed in a certain area
        of the layout. By default this is a required entry on each content page, using required: false 
        makes this an optional entry on any content page. If the sections is used on a content page,
        then the code within the section reference on the content page is merged in place here on the 
        layout page.
    *@
    @RenderSection("MyCustomCSS", required: false)
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-page="/Index">
                        <img src="~/Img/ChinookMusicMenuLogo.jpg" alt="Chinook Logo" title="To go home"/>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Index">Home</a>
                </li>
                <li>
                    <span>Samples</span>
                    <ul style="margin:0">
                        <li>
                            <a asp-area="" asp-page="/SamplePages/Basics">Basics</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/SamplePages/Controls">Controls</a>
                        </li>
                    </ul>
                </li>
                @*
                    Setup a submenu using holiday css

                    Start with an li tag
                    within the li add a span tag
                    Add a ul tag
                    within the ul you can add any number of li menu items
                *@
                <li>
                    <span>
                        My Project
                        </span>
                        <ul>
                            <li>
                                @*Replace /MyProjectPages with your actual /ProjectPages/xxx *@
                                <a asp-area="" asp-page="/MyProjectPages/Index">
                                    Default Sample Page Home    
                                </a>
                            </li>
                        </ul>
                </li>
                <li>
                    <a asp-area="" asp-page="/SamplePages/PlaylistManagement">Playlist Management</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2022 - WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>